* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Circular */

@font-face {
    font-family: 'CircularLight';
    src: url('/fonts/CircularStd-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'CircularBook';
    src: url('/fonts/CircularStd-Book.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'CircularMedium';
    src: url('/fonts/CircularStd-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'CircularBold';
    src: url('/fonts/CircularStd-Bold.otf');
    font-weight: 700;
}

body {
    font-family: 'Circular', sans-serif;
    background-color: #141922;
}

/* Container */
.container {
    display: flex;
}

/* Barra upgrade */
.upgrade {
    width: calc(100vw - 230px);
    height: 90px;
    background-color: #080b12de;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Sidebar */
aside {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    flex-grow: 0;
    position: fixed;
}

/* Main */
main {
    width: 100%;
    height: calc(100vh - 90px);
    margin-left: 230px;
    padding-top: calc(90px + 20px);
    padding-left: 20px;
    overflow-y: scroll;
}


/* Now playing bar */
.now-playing-bar {
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}