* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Circular */

@font-face {
    font-family: 'CircularLight';
    src: url('/fonts/CircularStd-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'CircularBook';
    src: url('/fonts/CircularStd-Book.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'CircularMedium';
    src: url('/fonts/CircularStd-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'CircularBold';
    src: url('/fonts/CircularStd-Bold.otf');
    font-weight: 700;
}

body {
    font-family: 'Circular', sans-serif;
}